<a href="https://colab.research.google.com/github/AhanaMittra/AhanaMittra/blob/main/Covid_19_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import random
import math
import time

# Data Set

In [2]:
# Reading the data of the confirmed cases in csv format using pandas read_sv 
# command from the link given below and store the data in the confirmed_cases 
# variable.
#'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

confirmed_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [4]:
# Showing the first five data of the dataset 

confirmed_cases.head()

  Province/State Country/Region       Lat  ...  7/22/21  7/23/21  7/24/21
0            NaN    Afghanistan  33.93911  ...   143183   143439   143439
1            NaN        Albania  41.15330  ...   132797   132828   132853
2            NaN        Algeria  28.03390  ...   158213   159563   160868
3            NaN        Andorra  42.50630  ...    14464    14498    14498
4            NaN         Angola -11.20270  ...    41405    41405    41736

[5 rows x 554 columns]

In [5]:
# Storing the data of the deaths occured in the variable named 'deaths_reported'
# from the same link by the previous method.

deaths_reported = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [6]:
# Showing the first five data in the deaths_reported dataset.

deaths_reported.head()

  Province/State Country/Region       Lat  ...  7/22/21  7/23/21  7/24/21
0            NaN    Afghanistan  33.93911  ...   143183   143439   143439
1            NaN        Albania  41.15330  ...   132797   132828   132853
2            NaN        Algeria  28.03390  ...   158213   159563   160868
3            NaN        Andorra  42.50630  ...    14464    14498    14498
4            NaN         Angola -11.20270  ...    41405    41405    41736

[5 rows x 554 columns]

In [7]:
# Storing the data of the recovered cases occured in the variable named 'recovered_cases'
# from the same link by the previous method.

recovered_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [8]:
# Showing the first five data from the dataset of recovered_cases

recovered_cases.head()

  Province/State Country/Region       Lat  ...  7/22/21  7/23/21  7/24/21
0            NaN    Afghanistan  33.93911  ...   143183   143439   143439
1            NaN        Albania  41.15330  ...   132797   132828   132853
2            NaN        Algeria  28.03390  ...   158213   159563   160868
3            NaN        Andorra  42.50630  ...    14464    14498    14498
4            NaN         Angola -11.20270  ...    41405    41405    41736

[5 rows x 554 columns]

In [11]:
# Read the latest data from the dataset link and store it in the latest_data variable
# from the link 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/07-15-2020.csv'


latest_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/07-15-2020.csv')

In [12]:
# Showing the first five data from the dataset of latest data.
latest_data.head()

      FIPS     Admin2  ... Incidence_Rate Case-Fatality_Ratio
0  45001.0  Abbeville  ...     672.728014            0.606061
1  22001.0     Acadia  ...    2433.717463            3.046358
2  51001.0   Accomack  ...    3233.692289            1.339713
3  16001.0        Ada  ...    1004.179930            0.578991
4  19001.0      Adair  ...     237.695749            0.000000

[5 rows x 14 columns]

In [14]:
# Colecting all the columns from the confirmed_cases dataset

cols = confirmed_cases.keys()
cols

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '7/15/21', '7/16/21', '7/17/21', '7/18/21', '7/19/21', '7/20/21',
       '7/21/21', '7/22/21', '7/23/21', '7/24/21'],
      dtype='object', length=554)

In [15]:
# Extracting the data of the colummns of the confirmed, deaths and recovered cases
# for all rows and from 4th col. to the end.

confirmed = confirmed_cases.loc[:, cols[4]:cols[-1]]
deaths = deaths_reported.loc[:, cols[4]:cols[-1]]
recoveries = recovered_cases.loc[:, cols[4]:cols[-1]]

In [16]:
confirmed

     1/22/20  1/23/20  1/24/20  1/25/20  ...  7/21/21  7/22/21  7/23/21  7/24/21
0          0        0        0        0  ...   142414   143183   143439   143439
1          0        0        0        0  ...   132763   132797   132828   132853
2          0        0        0        0  ...   157005   158213   159563   160868
3          0        0        0        0  ...    14379    14464    14498    14498
4          0        0        0        0  ...    41227    41405    41405    41736
..       ...      ...      ...      ...  ...      ...      ...      ...      ...
274        0        2        2        2  ...    71144    78269    78269    94913
275        0        0        0        0  ...   315876   315876   315968   315968
276        0        0        0        0  ...     6997     7001     7003     7008
277        0        0        0        0  ...   188573   189731   190615   191527
278        0        0        0        0  ...    91120    93421    95686    97277

[279 rows x 550 columns]

In [18]:
# Range of dates of the dataset given 

dates = confirmed.keys()
dates

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '7/15/21', '7/16/21', '7/17/21', '7/18/21', '7/19/21', '7/20/21',
       '7/21/21', '7/22/21', '7/23/21', '7/24/21'],
      dtype='object', length=550)

In [20]:
# Data to be calculated

# Summary
world_cases = []
total_deaths = []
mortality_rate = []
recovery_rate = []
total_recovered = []
total_active = []


# Confirmed
China_cases = []
italy_cases = []
us_cases = []
spain_cases = []
france_cases = []
germany_cases = []
uk_cases = []
russia_cases = []
india_cases = []

# Death
China_deaths = []
italy_deaths = []
us_deaths = []
spain_deaths = []
france_deaths = []
germany_deaths = []
uk_deaths = []
russia_deaths = []
india_deaths = []

# Recovered
China_recoveries = []
italy_recoveries = []
us_recoveries = []
spain_recoveries = []
france_recoveries = []
germany_recoveries = []
uk_recoveries = []
russia_recoveries = []
india_recoveries = []

In [23]:
# Assign the calculated value declared variable

for i in dates:
  confirmed_sum = confirmed[i].sum() # Summing all the confirmed cases between the dates given.
  death_sum = deaths[i].sum() # Summimg all the death cases between the dates given.
  recovered_sum = recoveries[i].sum() # Summmimg all the recoveries cases  between the dates given.

  ################################# Assign the values of the variables declared in the summary section in the above cell.####################################
  world_cases.append(confirmed_sum)     # worlds_cases = all the confirmed cases
  total_deaths.append(death_sum)        # Total death is calculated above and stored in the variacle death_sum
  total_recovered.append(recovered_sum) # All the recovered cases are calculated above and stored in the variable recoverd_sum
  total_active.append(confirmed_sum-death_sum-recovered_sum) # Total active case is the cases which are confirmed except the deaths and the recoveries.

  mortality_rate.append(death_sum/confirmed_sum)
  recovery_rate.append(recovered_sum/confirmed_sum)

  ################################# Assign the values of the variables declared in the confirmed section in the above cell.####################################
  china_cases